<%= render partial: "shared/breadcrumbs", object: @breadcrumbs, as: 'items' %>

<div class="row">
	<div class="mb-4">
		<%= link_to 'Add a new machine', new_mill_machine_path(@mill), class: 'btn btn-primary' %>
	</div>
</div>

<div class="row">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Section</th>
				<th scope="col">Maker</th>
				<th scope="col">Model</th>
				<th scope="col">Units</th>
				<th scope="col">Potential</th>
				<th scope="col"></th>
			</tr>
		</thead>

		<tbody>
			<% @mill_machines.each do |mill_machine| %>
				<tr>
					<td><%= mill_machine.machine.section.titleize %></td>
					<td><%= mill_machine.machine.make.titleize %></td>
					<td><%= mill_machine.machine.model %></td>
					<td><%= mill_machine.quantity %></td>
					<td><%= rupee_format(mill_machine.potential) %></td>
					<td class="btn-group pt-2">
						<%= link_to 'Show', mill_machine_path(@mill, mill_machine), class: 'btn btn-sm btn-outline-secondary' %>
						<%= link_to 'Edit', edit_mill_machine_path(@mill, mill_machine), class: 'btn btn-sm btn-outline-secondary' %>
						<%= link_to 'Destroy', mill_machine_path(@mill, mill_machine), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-secondary' %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
