<div class="mb-4">
	<h1>Machines in <%= @mill.name %></h1>

	<%= link_to 'Add a new machine', new_mill_machine_path, class: 'btn btn-primary' %>
</div>

<div class="row">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Mill</th>
				<th scope="col">Machine</th>
				<th scope="col">Units</th>
				<th scope="col" colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @mill_machines.each do |mill_machine| %>
				<tr>
					<td><%= mill_machine.mill.name %></td>
					<td><%= mill_machine.machine.machine_name %></td>
					<td><%= mill_machine.quantity %></td>
					<td><%= link_to 'Show', mill_machine_path(@mill, mill_machine) %></td>
					<td><%= link_to 'Edit', edit_mill_machine_path(@mill, mill_machine) %></td>
					<td><%= link_to 'Destroy', mill_machine_path(@mill, mill_machine), method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
