<%= render partial: "shared/breadcrumbs", object: @breadcrumbs, as: 'items' %>

<div class="row">
	<table class="table table-bordered w-50">
		<tr>
			<th>Section</th>
			<td><%= @mill_machine.machine.section.titleize %></td>
		</tr>
		<tr>
			<th>Maker</th>
			<td><%= @mill_machine.machine.make.titleize %></td>
		</tr>
		<tr>
			<th>Model</th>
			<td><%= @mill_machine.machine.model %></td>
		</tr>
		<tr>
			<th>Quantity</th>
			<td><%= @mill_machine.quantity %></td>
		</tr>
	</table>
</div>

<div class="row">
	<div class="btn-group mr-2">
		<%= link_to 'Edit record', edit_mill_machine_path(@mill, @mill_machine), class: 'btn btn-outline-primary mt-3' %>
		<%= link_to 'Back to all records', mill_machines_path(@mill), class: 'btn btn-outline-primary mt-3' %>
	</div>
</div>
