<td class="align-middle" rowspan="<%= rowspan %>"><%= mill.code %></td>
<td class="align-middle" rowspan="<%= rowspan %>"><%= mill.name.titleize %></td>
<td class="align-middle" rowspan="<%= rowspan %>"><%= sum %></td>
<td><%= mill_machine.machine.section.titleize %></td>
<td><%= mill_machine.machine.machine_name %></td>
<td><%= mill_machine.quantity %></td>
