<td class="align-middle" rowspan="<%= rowspan %>"><%= machine.machine_name %></td>
<td class="align-middle" rowspan="<%= rowspan %>"><%= machine.section.titleize %></td>
<td class="align-middle" rowspan="<%= rowspan %>"><%= sum %></td>
<td><%= machine_belt.belt.grade %></td>
<td><%= machine_belt.length %></td>
<td><%= machine_belt.width %></td>
<td><%= machine_belt.quantity %></td>
