<tr>
	<td><%= mill_machine.machine.section.titleize %></td>
	<td><%= mill_machine.machine.machine_name %></td>
	<td><%= mill_machine.machine.drive_type %></td>
	<td><%= mill_machine.quantity %></td>
  <td><%= mill_machine.spindles %></td>
  <td><%= mill_machine.spindles_count %></td>
</tr>
