<%= form_with(model: machine_belt, url: url, local: true) do |form| %>
  <% if machine_belt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(machine_belt.errors.count, "error") %> prohibited this machine_belt from being saved:</h2>

      <ul>
      <% machine_belt.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :belt_id %>
		<%= form.select :belt_id,
				options_for_select(Belt.pluck(:grade, :id).sort, [machine_belt.belt_id]),
				{ include_blank: true },
				class: 'form-control'
		%>
  </div>

  <div class="form-group">
    <%= form.label :length %>
    <%= form.number_field :length, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :width %>
    <%= form.number_field :width, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :quantity %>
    <%= form.number_field :quantity, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit class: 'btn btn-block btn-success' %>
  </div>
<% end %>
