<%= render partial: "shared/breadcrumbs", object: @breadcrumbs, as: 'items' %>

<div class="row">
	<table class="table table-bordered w-50">
		<tr>
			<th>Belt</th>
			<td><%= @machine_belt.belt.grade %></td>
		</tr>
		<tr>
			<th>Length</th>
			<td><%= @machine_belt.length %></td>
		</tr>
		<tr>
			<th>Width</th>
			<td><%= @machine_belt.width %></td>
		</tr>
		<tr>
			<th>Quantity</th>
			<td><%= @machine_belt.quantity %></td>
		</tr>
		<tr>
			<th>Price</th>
			<td><%= number_with_precision(@machine_belt.price, precision: 2) %></td>
		</tr>
	</table>
</div>

<div class="row">
	<div class="btn-group mr-2">
		<%= link_to 'Edit record', edit_machine_belt_path(@machine, @machine_belt), class: 'btn btn-outline-primary mt-3' %>
		<%= link_to 'Back to all records', machine_belts_path(@machine), class: 'btn btn-outline-primary mt-3' %>
	</div>
</div>
