<div class="mb-4">
	<h1>Mills</h1>

	<%= link_to 'Add a new mill', new_mill_path, class: 'btn btn-primary' %>
</div>

<div class="row">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Mill Code</th>
				<th scope="col">Name</th>
				<th scope="col">Location</th>
				<th scope="col" colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @mills.each do |mill| %>
				<tr>
					<th scope="row"><%= link_to mill.code, mill %></th>
					<td><%= mill.name %></td>
					<td><%= mill.location %></td>
					<td><%= link_to 'Show', mill %></td>
					<td><%= link_to 'Edit', edit_mill_path(mill) %></td>
					<td><%= link_to 'Destroy', mill, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

