<%= render partial: "shared/breadcrumbs", object: @breadcrumbs, as: 'items' %>
<div class="row">
	<div class="mb-4">
		<%= link_to 'Add a new mill', new_mill_path, class: 'btn btn-primary' %>
	</div>
</div>

<div class="row">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Mill Code</th>
				<th scope="col">Name</th>
				<th scope="col">Location</th>
				<th scope="col">Total Spindles</th>
				<th scope="col">Potential</th>
				<th scope="col" colspan="2"></th>
			</tr>
		</thead>

		<tbody>
			<% @mills.each do |mill| %>
				<tr>
					<th scope="row"><%= mill.code %></th>
					<td><%= mill.name.titleize %></td>
					<td><%= mill.location.titleize %></td>
					<td><%= mill.total_spindles %></td>
					<td><%= rupee_format(mill.potential) %></td>
					<td class="pt-2"><%= link_to 'Machines in mill', mill_machines_path(mill), class: 'btn btn-sm btn-outline-secondary' %></td>
					<td class="btn-group pt-2">
						<%= link_to 'Show', mill, class: 'btn btn-sm btn-outline-secondary' %>
						<%= link_to 'Edit', edit_mill_path(mill), class: 'btn btn-sm btn-outline-secondary' %>
						<%= link_to 'Destroy', mill, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-sm btn-outline-secondary' %>
					</td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>

