<%= render partial: "shared/breadcrumbs", object: @breadcrumbs, as: 'items' %>

<div class="row">
	<table class="table table-bordered w-50">
		<tr>
			<th>Code</th>
			<td><%= @mill.code %></td>
		</tr>
		<tr>
			<th>Name</th>
			<td><%= @mill.name.titleize %></td>
		</tr>
		<tr>
			<th>Location</th>
			<td><%= @mill.location.titleize %></td>
		</tr>
		<tr>
			<th>Potential</th>
			<td><%= rupee_format(@mill.potential) %></td>
		</tr>
	</table>
</div>

<div class="row">
	<div class="btn-group mr-2">
		<%= link_to 'Edit record', edit_mill_path(@mill), class: 'btn btn-outline-primary mt-3' %>
		<%= link_to 'Back to all records', mills_path, class: 'btn btn-outline-primary mt-3' %>
	</div>
	<%= link_to 'Machines in Mill', mill_machines_path(@mill), class: 'btn btn-outline-primary mt-3' %>
</div>
