<div class="mb-4">
	<h1>Machines</h1>

	<%= link_to 'New Machine', new_machine_path, class: 'btn btn-primary' %>
</div>

<div class="row">
	<table class="table table-striped">
		<thead class="thead-dark">
			<tr>
				<th scope="col">Make</th>
				<th scope="col">Model</th>
				<th scope="col">Section</th>
				<th scope="col">Sub section</th>
				<th scope="col" colspan="3"></th>
			</tr>
		</thead>

		<tbody>
			<% @machines.each do |machine| %>
				<tr>
					<td><%= machine.make %></td>
					<td><%= machine.model %></td>
					<td><%= machine.section %></td>
					<td><%= machine.sub_section %></td>
					<td><%= link_to 'Show', machine %></td>
					<td><%= link_to 'Edit', edit_machine_path(machine) %></td>
					<td><%= link_to 'Destroy', machine, method: :delete, data: { confirm: 'Are you sure?' } %></td>
				</tr>
			<% end %>
		</tbody>
	</table>
</div>
