<%= render partial: "shared/breadcrumbs", object: @breadcrumbs, as: 'items' %>

<div class="row">
	<table class="table table-bordered w-50">
		<tr>
			<th>Grade</th>
			<td><%= @belt.grade %></td>
		</tr>
		<tr>
			<th>Rate</th>
			<td><%= rupee_format(@belt.rate) %></td>
		</tr>
		<tr>
			<th>Minor Joining Charges</th>
			<td><%= @belt.minor_join_charge %></td>
		</tr>
		<tr>
			<th>Major Joining Charges</th>
			<td><%= @belt.major_join_charge %></td>
		</tr>
		<tr>
			<th>Rounding Off Factor</th>
			<td><%= @belt.rounding_off %></td>
		</tr>
	</table>
</div>

<div class="row">
	<div class="btn-group">
		<%= link_to 'Edit record', edit_belt_path(@belt), class: 'btn btn-outline-primary mt-3' %>
		<%= link_to 'Back to all records', belts_path, class: 'btn btn-outline-primary mt-3' %>
	</div>
</div>
