<!DOCTYPE html>
<html>
  <head>
    <title>Estimator</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
		<%= render "shared/navigation" %>
		<div class="row mt-3 mx-1">
			<div class="container col-2">
				<div class="list-group font-weight-bold">
					<%= link_to 'Dashboard', root_path, class: "list-group-item list-group-item-action text-secondary" %>
					<%= link_to 'Mills', mills_path, class: "list-group-item list-group-item-action text-secondary" %>
					<%= link_to 'Machines', machines_path, class: "list-group-item list-group-item-action text-secondary" %>
					<%= link_to 'Belts', belts_path, class: "list-group-item list-group-item-action text-secondary" %>
				</div>
			</div>
			<div class="container col-10">
				<div class="mx-3">
					<%= flash_messages %>
					<%= yield %>
				</div>
			</div>
		</div>
  </body>
</html>
